@use 'helpers/index' as *;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;

  &.is-lock {
    overflow: hidden;
  }
}

body {
  margin: 1rem auto;
  max-width: min(90vw, 1200px);
  background: var(--bg-dark);
  color: var(--text-muted);
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  font-family: var(--ff), sans-serif;
}

main {
  flex-grow: 1;
}

h1 {
  font: var(--h1);
  margin-bottom: 0.5rem;
  color: var(--text);
}

h2 {
  font: var(--h2);
  margin-bottom: 0.4rem;
  color: var(--text);
}

h3 {
  font: var(--h3);
  margin-bottom: 0.25rem;
  color: var(--text);
}

h4 {
  font: var(--h4);
  color: var(--text);
}

p {
  font: var(--p);
  color: var(--text-muted);
  max-width: 80ch;
}

.small,
small {
  font: var(--small);
  letter-spacing: 0.1rem;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition: var(--transition);
}

a {
  color: inherit;

  @include hover {
    color: var(--primary);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: 2px dashed var(--text);
  outline-offset: 4px;
  transition-duration: 0s !important;
}